.footer {
  margin: 0;
  background-color: #043673;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.footer-socials {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
