.HomePageHeader {
  background-color: #043673;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.HomePageHeader nav ul {
  display: flex;
  flex-direction: row;
}
.logo {
  width: 50px;
  height: 50px;
}
li {
  list-style: none;
  margin: 0 15px;
}
.HomePageMain {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* allows cards to wrap to the next line */
  justify-content: center; /* centers cards horizontally */
  gap: 24px; /* space between cards */
}
